@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(19, 19, 19);
  }

h2 {
  margin: 20px;
  color: #fff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #a7a7a7;
  display: flex;                 /* coloca tudo em linha */
  justify-content: space-between; /* espaço entre os itens */
  align-items: center;           /* centraliza na vertical */
  padding: 10px 20px;             /* espaço interno */
}

header .logo img {
  width: 80px;
  height: auto;
}

header .relogio {
  display: flex;
  align-items: center;
  gap: 5px;
}

header .relogio img{
    width: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

/* Container dos produtos */
.produtos {
  display: flex;
  flex-direction: row; /* garante que fique em linha */
  gap: 20px;          /* espaço entre os cards */
  justify-content: center; /* centraliza na tela */
  flex-wrap: wrap;    /* quebra linha se a tela for pequena */
  padding: 20px;
}

/* Card do produto */
.produto {
  background: #d9d9d9; /* cinza claro */
  border-radius: 12px;
  padding: 15px;
  width: 220px;
  text-align: left;
  font-family: Arial, sans-serif;
  position: relative;
}

/* Imagem do produto */
.produto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
  background: #222; /* placeholder caso a img não carregue */
}

/* Nome do produto */
.produto h3 {
  font-size: 16px;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

/* Preço antigo */
.preco-antigo {
  text-decoration: line-through;
  color: #333;
  margin: 0;
  font-size: 14px;
}

/* Preço novo */
.preco-novo {
  color: #00b050; /* verde */
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

/* Selo de desconto */
.desconto {
  background: #7fe08b;
  color: #222;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  bottom: 65px;
}

/* Botão */
.produto button {
  background: #111;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.produto button:hover {
  background: #333;
}

.final{
  color: #fff;
  background-color: #a7a7a7;
  height: 100px;
  padding: 20px;
  text-align: center;  
}